.card {
    border-radius: 1rem;
    background-color: var(--bs-body-bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    flex: 0 0 33.33%;
    max-width: 33.33%;
    min-height: 340px;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cardHeaderImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin: 0;
    border-radius: 0;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0 0.5rem 1rem;
    padding-right: 1rem;
}

.cardDescription {
    font-size: 1rem;
    margin: 0 1rem 1rem 1rem;
    text-align: left;
    padding-right: 1rem;
}

.linkList {
    list-style: none;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.linkList li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cardLink {
    color: var(--bs-link-color);

    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

.cardLink:hover,
.cardLink:focus {
    color: var(--bs-link-color);
    text-decoration: underline;
}
