/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.layout {
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 996px) {
    .layout {
        height: auto;
        overflow: auto;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
